@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@{
    ViewData["Title"] = "API Communication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="section1"><a href="javascript:toggle();">hide</a>
    <div id="responseDiv"></div>

    <button onclick="doWorkWithUser()">Press to doWorkWithUser</button>
</div>
<hr />

User's details input form
<br />

<div id="addResponseDiv"></div>

<input id="firstName" placeholder="firstName" /><br />
<input id="lastName" placeholder="lastName" /><br />
<input id="username" placeholder="username" /><br />
<input id="email" placeholder="email" /><br />
<input id="password" placeholder="password" /><br />
<input id="address" placeholder="address" /><br />
 <button onclick="doAddUser()">Press to add User</button>
